<h1>Ajuda Humanitária</h1>

<div class="alert alert-info">
  <p>Endereços cadastrados: <strong><%= total_addresses %></strong></p>
  <p>Endereços verificados: <strong><%= verified_addresses %></strong></p>
  <p>Endereços resolvidos: <strong><%= resolved_addresses %></strong></p>
</div>

<div class="data-table">
  <table class="table table-striped nowrap">
    <tr>
      <th>Congregação</th>
      <th>Contato</th>
      <th>Telefone</th>
    </tr>
    <% congregations.each do |congregation| %>
      <tr>
        <td><%= addresses_link(congregation) %></td>
        <td><%= congregation.contact_person_name %></td>
        <td><%= congregation.contact_person_phone_number %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="actions">
  <%= link_to('Exportar Todos', export_all_url, class: 'btn btn-success') %>
  <%= link_to('Exportar Pendentes', export_unresolved_url, class: 'btn btn-success') %>
</div>
