<% add_title("Ajuda Humanitária")  %>
<h1>Ajuda Humanitária</h1>

<%= render stats %>


<div class="actions">
  <%= link_to('Todos os endereços', addresses_url, class: 'btn btn-success') %>
</div>

<div class="data-table">
  <table class="table table-striped nowrap">
    <tr>
      <th>Congregação</th>
      <th>Contato</th>
      <th>Telefone</th>
    </tr>
    <% congregations.each do |congregation| %>
      <tr>
        <td><%= addresses_link(congregation) %></td>
        <td><%= congregation.contact_person_name %></td>
        <td><%= congregation.contact_person_phone_number %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="actions">
  <span>Exportar:<span>
  <%= link_to('Todos os endereços', export_xls_url, class: 'btn') %>
  <%= link_to('Endereços pendentes', export_xls_url(stage: :pending), class: 'btn') %>
  <%= link_to('Endereços em progresso', export_xls_url(stage: :in_progress), class: 'btn') %>
  <%= link_to('Endereços concluídos', export_xls_url(stage: :done), class: 'btn') %>
</div>
