<h1>Ajuda Humanitária</h1>

<table class="table table-striped">
  <tr>
    <th>Cidade</th>
    <th>Nome</th>
    <th>Circuito</th>
    <th>Contato</th>
    <th>Telefone</th>
    <th>Endereços</th>
  </tr>
  <% congregations.each do |congregation| %>
    <tr>
      <td><%= congregation.city_name %></td>
      <td><%= congregation.name %></td>
      <td><%= congregation.circuit.name %></td>
      <td><%= congregation.contact_person_name %></td>
      <td><%= congregation.contact_person_phone_number %></td>
      <td><%= addresses_link(congregation) %></td>
    </tr>
  <% end %>
</table>
