<% add_title("Endereços")  %>
<% add_title("Congregação #{congregation.full_description}") if congregation  %>

<% if congregation  %>
  <h1>Congregação <%= congregation.full_description %></h1>
<% end %>

<%= form_for(address, url: target_url, local: true, method: method, html: { novalidate: true }, data: { turbo_frame: '_top'})  do |form| %>
  <div class="form-group">
    <%= form.label "Nome", class: "form-label" %>
    <%= form.text_field :householder_name, class: "form-control", required: true %>
    <%= render InputErrorComponent.new(record: address, field_name: :householder_name) %>
  </div>

  <div class="form-group">
    <%= form.label "Telefone", class: "form-label" %>
    <%= form.text_field :phone_number, class: "form-control", required: true %>
    <%= render InputErrorComponent.new(record: address, field_name: :phone_number) %>
  </div>

  <div class="form-group">
    <%= form.label "Rua", class: "form-label" %>
    <%= form.text_field :street_name, class: "form-control", required: true %>
    <%= render InputErrorComponent.new(record: address, field_name: :street_name) %>
  </div>

  <div class="form-group">
    <%= form.label "Número", class: "form-label" %>
    <%= form.text_field :number, class: "form-control", required: true %>
    <%= render InputErrorComponent.new(record: address, field_name: :number) %>
  </div>

  <div class="form-group">
    <%= form.label "Complemento", class: "form-label" %>
    <%= form.text_field :complement, class: "form-control", required: true %>
    <%= render InputErrorComponent.new(record: address, field_name: :complement) %>
  </div>

  <div class="form-group">
    <%= form.label "Bairro", class: "form-label" %>
    <%= form.text_field :neighborhood, class: "form-control", required: true %>
    <%= render InputErrorComponent.new(record: address, field_name: :neighborhood) %>
  </div>

  <div class="form-group">
    <%= form.label "Cidade", class: "form-label" %>
    <%= form.text_field :city_name, class: "form-control", required: true %>
    <%= render InputErrorComponent.new(record: address, field_name: :city_name) %>
  </div>

  <div class="form-group">
    <%= form.label "CEP", class: "form-label" %>
    <%= form.text_field :postal_code, class: "form-control", required: true %>
    <%= render InputErrorComponent.new(record: address, field_name: :postal_code) %>
  </div>

  <p> Cordenadas goeoográficas. Opcional. </p>
  <div class="form-group">
    <%= form.label :latitude, class: "form-label" %>
    <%= form.number_field :latitude, class: "form-control", step: 0.000001 %>
    <%= render InputErrorComponent.new(record: address, field_name: :latitude) %>
  </div>

  <div class="form-group">
    <%= form.label :longitude, class: "form-label" %>
    <%= form.number_field :longitude, class: "form-control", step: 0.000001 %>
    <%= render InputErrorComponent.new(record: address, field_name: :longitude) %>
  </div>

  <div class="actions">
    <%= form.submit submit_label, class: "btn btn-primary" %>

    <%= link_to "Cancelar", cancel_url, class: "btn btn-danger" %>
  </div>
<% end %>
