<h1>Endereços</h1>

<table class="table table-striped">
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Telefone</th>
    <th>Endereço</th>
    <th>Congregação</th>
    <th>Lat/Lon</th>
    <th>Verificado</th>
  </tr>
  <% addresses.each_with_index do |address, index| %>
    <tr>
      <td><%= address.id %></td>
      <td><%= address.householder_name %></td>
      <td><%= address.phone_number %></td>
      <td><%= address.full_address %></td>
      <td><%= address.congregation.full_description %></td>
      <td><%= address.geolocation %></td>
      <td><%= boolean(address.verified?) %></td>
    </tr>
  <% end %>
</table>
