<% add_title("Endereços")  %>
<% add_title("Congregação #{congregation.full_description}") if congregation  %>

<% if congregation  %>
  <h1>Congregação <%= congregation.full_description %></h1>
<% end %>

<h3>Endereços</h3>

<div class="actions">
  <%= link_to('Novo', { action: :new }, class: 'btn btn-primary') %>
</div>

<div class="table-responsive max-height-50vh">
  <table class="table table-striped nowrap">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Congregação</th>
        <th>Lat/Lon</th>
        <th>Verificado</th>
      </tr>
    </thead>
    <tbody>
      <% addresses.each_with_index do |address, index| %>
        <tr>
          <td><%= address.id %></td>
          <td><%= link_to(address.householder_name, action: :edit, id: address.id) %></td>
          <td><%= address.phone_number %></td>
          <td><%= address.full_address %></td>
          <td><%= address.congregation.full_description %></td>
          <td><%= address.geolocation %></td>
          <td><%= boolean(address.verified?) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
