<div class="alert alert-info">
  <div>
    <strong>Total:</strong>
    <span><%= total_addresses %></span>
  </div>
  <div>
    <strong>Resolvidos:</strong>
    <span><%= resolved_addresses %> (<%= percentage(resolved_addresses) %>%)</span>
  </div>
  <div>
    <strong>Em Andamento:</strong>
    <span><%= in_progress_addresses %> (<%= percentage(in_progress_addresses) %>%)</span>
  </div>
  <div>
    <strong>Pendentes:</strong>
    <span><%= pending_addresses %> (<%= percentage(pending_addresses) %>%)</span>
  </div>
</div>
